.main {
	margin: 0 auto;
	width: 460px;
	padding-top: 120px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.logo {
	margin: 0 auto;
	width: 216px;
	height: 39px;
	background-image: url(../img/logo.png);
	margin-bottom: 30px;
}

.accordion__header {
	display: block;
	border-radius: 20px;
	padding: 10px 20px;
	color: #fff;
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 5px;
}

.accordion__item:nth-child(even) .accordion__header {
	background-color: #e7e7e7;
	color: #4f4f4f;
}

.accordion__item:nth-child(odd) .accordion__header {
	background-color: #696666;
	color: #fff;
}

.accordion__block {
	background-color: #e7e7e7;
	color: #4f4f4f;
	border-radius: 20px;
	margin-bottom: 5px;
}


.accordion__block__item {
	padding-bottom: 12px;
	font-family: Arial;
	padding-left: 20px;
	cursor: pointer;
}

.accordion__block__item:first-child {
	padding-top: 12px;
}

.accordion__block_expanded {
	background-color: #ff8663 !important;
	color: #fff !important;
	background-image: url(../img/arrow-close.png) !important;
	background-position:  right 15px center !important;
	background-repeat:  no-repeat !important;
}

.accordion__header {
	background-image: url(../img/arrow-open.png);
	background-position:  right 15px center;
	background-repeat:  no-repeat;
}

.expanding_block_hidden {
	display: none;
}